<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.tt.myapplication" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <meta-data android:name="com.facebook.sdk.ApplicationId" android:value="@string/app_id"/>
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges=
                "keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:label="@string/app_name" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SubActivity"
            android:label="@string/title_activity_sub" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".ActivityUsingTabLibrary"
            android:label="@string/title_activity_activity_using_tab_library" >
        </activity>
        <activity
            android:name=".VectorTestActivity"
            android:label="@string/title_activity_vector_test" >
        </activity>

        <service
            android:name=".Services.MyService"
            android:exported="true"
            android:permission="android.permission.BIND_JOB_SERVICE" />

        <activity
            android:name=".RecyclerItemAnimationActivity"
            android:label="@string/title_activity_recycler_item_animation" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".Activitya"
            android:label="@string/title_activity_activitya" >
        </activity>
        <activity
            android:name=".ActivityB"
            android:label="@string/title_activity_activity_b" >
        </activity>
        <activity
            android:name=".ActivityShareA"
            android:label="@string/title_activity_activity_share" >
        </activity>
        <activity
            android:name=".ActivityShareB"
            android:label="@string/title_activity_activity_share_b" >
        </activity>
        <activity
            android:name=".FaceBookLoginActivity"
            android:label="@string/title_activity_face_book_login" >
        </activity>
    </application>

</manifest>
